{% extends 'base.html' %}

{% load static %}
{% block content %}

<h1 class="home-banner">GALLERY</h1>

<div class="container text-center">
<div class="row">
{% for asset in assets %}
<div class="col">
<div class="card text-white bg-dark card-product-grid m-1" style="width: 18rem;">
    <img src="{{ asset.images.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ asset.asset_name }}</h5>
        <p class="card-text">{{ asset.description }}</p>
        <a href="{{ asset.get_url }}" class="btn btn-info">View</a>
    </div>
</div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}

